* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 10px;
}

body {
	margin: 10px;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	background-color: #333;
}
